# **Cho dữ liệu Online Retail1 là lịch sử bán hàng của một cửa hàng bán lẻ trực tuyến tại Châu Âu. Cửa hàng này chuyên bán quà tặng độc đáo vào nhiều dịp lễ trong năm và cũng có nhiều khách hàng mua sỉ. Hãy thực hiện những yêu cầu sau:**

1. Đọc dữ liệu vào chương trình

In [7]:
import pandas as pd

# Load the Excel file into a pandas DataFrame
df = pd.read_excel('/content/Online_retail.xlsx')

# Display the first 5 rows of the DataFrame
print("Huỳnh Thị Trúc Lam - 6351071040")
df.head()

Huỳnh Thị Trúc Lam - 6351071040

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

2. Tiền xử lý dữ liệu: cắt bỏ các ký tự thừa ở tên mặt hàng mua (cột Description), xóa các dòng dữ liệu không có số hóa đơn (cột InvoiceNo) và chuyển nó về kiểu dữ liệu chuỗi.

In [8]:
df['Description'] = df['Description'].str.strip()
df.dropna(subset=['InvoiceNo'], inplace=True)
df['InvoiceNo'] = df['InvoiceNo'].astype(str)

print("Huỳnh Thị Trúc Lam - 6351071040")
print("DataFrame after cleaning 'Description', dropping NaNs in 'InvoiceNo', and converting 'InvoiceNo' to string:")
df.head()
df.info()

Huỳnh Thị Trúc Lam - 6351071040
DataFrame after cleaning 'Description', dropping NaNs in 'InvoiceNo', and converting 'InvoiceNo' to string:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540454 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

3. Trong dữ liệu đã cho, có một số hóa đơn là hóa đơn tín dụng thay vì là hóa đơn ghi nợ vì vậy hãy xóa những hóa đơn đó. Chúng được xác định với ký tự ‘C’ chứa trong số hóa đơn InvoiceNo.

In [9]:
df = df[~df['InvoiceNo'].astype(str).str.contains('C', na=False)]

print("Huỳnh Thị Trúc Lam - 6351071040")
print("DataFrame after removing credit invoices (InvoiceNo starting with 'C'):")
df.head()
print("Shape of the DataFrame after removing credit invoices:", df.shape)

Huỳnh Thị Trúc Lam - 6351071040
DataFrame after removing credit invoices (InvoiceNo starting with 'C'):
Shape of the DataFrame after removing credit invoices: (532621, 8)

4. Thống kê số dòng dữ liệu theo từng quốc gia.

In [10]:
country_counts = df['Country'].value_counts()
print("Huỳnh Thị Trúc Lam - 6351071040")
print("Number of data rows per country:")
print(country_counts)

Huỳnh Thị Trúc Lam - 6351071040
Number of data rows per country:
Country
United Kingdom          487622
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: count, dtype: int64

5. Lấy ra dữ liệu hóa đơn từ nước Anh ‘United Kingdom’ và gom nhóm cột Số lượng
mua (Quantity) theo Số hóa đơn (InvoiceNo) và Tên mặt hàng (Description).

In [11]:
df_uk = df[df['Country'] == 'United Kingdom']
uk_invoice_product_quantity = df_uk.groupby(['InvoiceNo', 'Description'])['Quantity'].sum().reset_index()
print("Huỳnh Thị Trúc Lam - 6351071040")
print("First 5 rows of grouped UK invoice data by product quantity:")
print(uk_invoice_product_quantity.head())

Huỳnh Thị Trúc Lam - 6351071040
First 5 rows of grouped UK invoice data by product quantity:
  InvoiceNo                          Description  Quantity
0    536365       CREAM CUPID HEARTS COAT HANGER         8
1    536365    GLASS STAR FROSTED T-LIGHT HOLDER         6
2    536365  KNITTED UNION FLAG HOT WATER BOTTLE         6
3    536365       RED WOOLLY HOTTIE WHITE HEART.         6
4    536365         SET 7 BABUSHKA NESTING BOXES         2

6. Chuyển đổi dữ liệu về dạng hot encoding, với mỗi dòng dữ liệu là một hóa đơn.

In [12]:
uk_invoice_product_one_hot = uk_invoice_product_quantity.pivot_table(index='InvoiceNo', columns='Description', values='Quantity').fillna(0)
print("Huỳnh Thị Trúc Lam - 6351071040")
print("First 5 rows of the one-hot encoded UK invoice data:")
print(uk_invoice_product_one_hot.head())

Huỳnh Thị Trúc Lam - 6351071040
First 5 rows of the one-hot encoded UK invoice data:
Description  *Boombox Ipod Classic  *USB Office Mirror Ball  \
InvoiceNo
536365                         0.0                      0.0
536366                         0.0                      0.0
536367                         0.0                      0.0
536368                         0.0                      0.0
536369                         0.0                      0.0

Description  10 COLOUR SPACEBOY PEN  12 COLOURED PARTY BALLOONS  \
InvoiceNo
536365                          0.0                         0.0
536366                          0.0                         0.0
536367                          0.0                         0.0
536368                          0.0                         0.0
536369                          0.0                         0.0

Description  12 DAISY PEGS IN WOOD BOX  12 EGG HOUSE PAINTED WOOD  \
InvoiceNo
536365                             0.0                        0.0
536366                             0.0                        0.0
536367                             0.0                        0.0
536368                             0.0                        0.0
536369                             0.0                        0.0

Description  12 HANGING EGGS HAND PAINTED  12 IVORY ROSE PEG PLACE SETTINGS  \
InvoiceNo
536365                                0.0                               0.0
536366                                0.0                               0.0
536367                                0.0                               0.0
536368                                0.0                               0.0
536369                                0.0                               0.0

Description  12 MESSAGE CARDS WITH ENVELOPES  12 PENCIL SMALL TUBE WOODLAND  \
InvoiceNo
536365                                   0.0                            0.0
536366                                   0.0                            0.0
536367                                   0.0                            0.0
536368                                   0.0                            0.0
536369                                   0.0                            0.0

Description  ...  wrongly coded 20713  wrongly coded 23343  \
InvoiceNo    ...
536365       ...                  0.0                  0.0
536366       ...                  0.0                  0.0
536367       ...                  0.0                  0.0
536368       ...                  0.0                  0.0
536369       ...                  0.0                  0.0

Description  wrongly coded-23343  wrongly marked  wrongly marked 23343  \
InvoiceNo
536365                       0.0             0.0                   0.0
536366                       0.0             0.0                   0.0
536367                       0.0             0.0                   0.0
536368                       0.0             0.0                   0.0
536369                       0.0             0.0                   0.0

Description  wrongly marked carton 22804  wrongly marked. 23343 in box  \
InvoiceNo
536365                               0.0                           0.0
536366                               0.0                           0.0
536367                               0.0                           0.0
536368                               0.0                           0.0
536369                               0.0                           0.0

Description  wrongly sold (22719) barcode  wrongly sold as sets  \
InvoiceNo
536365                                0.0                   0.0
536366                                0.0                   0.0
536367                                0.0                   0.0
536368                                0.0                   0.0
536369                                0.0                   0.0

Description  wrongly sold sets
InvoiceNo
536365                     0.0
536366                     0.0
536367                     0.0
536368                     0.0
536369                     0.0

[5 rows x 4175 columns]